# Build and Release Folders
bin-debug/
bin-release/

# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project

# Textmate project
*.tmproj

# binaries
characters
Menu
soundtrack
sfx
music
art

# pesky OS X files
.DS_Store

# misc
Ignore
